* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

h2 {
	background: green;
	color: white;
}

.header-logo {
	width: 150px;
}

.header-text h1 {
	color: red;
}

.first {
	background: blue;
	width: 100px;
	color: white;
	margin: 20px 0 50px 0;
}

.second span {
	color: red;
}

.second-text h2 {
	margin: 20px 0;
	padding: 10px 0;
}

.second-text p {
	display: inline-block;
}

.three-text h2 {
	margin: 20px 0;
	padding: 35px 0;
}

.three-text p {
	margin-left: 120px;
}

.form-wrapper {
	margin-top: 20px;
}

.subtitle {
	margin: 20px 0;
}

.menu-list li {
	font-size: 30px;
	border: 2px solid black;
}

.menu-list {
	margin: 0 0 20px 30px;
}

.footer-text h2 {
	margin-bottom: 30px;
	padding: 10px 0;
}